shamefully-hoist=true
strict-peer-dependencies=false
ignore-workspace-root-check=true
auto-install-peers=true
public-hoist-pattern[]=*oxc*
public-hoist-pattern[]=*turbo*
registry=https://registry.npmjs.org/