node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*oxc*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*turbo*
legacy-peer-deps=true
auto-install-peers=true 