@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
}
@mixin cursor-pointer {
	cursor: url(/icons/link.svg), pointer;
}
@mixin cursor-ban {
	cursor: url(/icons/ban.svg), not-allowed;
}
